/* SingleHyphenSnapable Media=none*/
.font-size\:xl {
	font-size: 48px;
}
/* SingleHyphenSnapable Media=none*/
.font-weight\:md {
	font-weight: md;
}
/* SingleHypen Media=none*/
.font-weight\:800 {
	font-weight: 800;
}
/* NoHypen Media=none*/
.color\:white {
	color: white;
}
