/* NoHypen*/
.color\:white {
	color: white;
}

/* NoHypen*/
.display\:flex {
	display: flex;
}

/* SingleHypen*/
.flex-direction\:column {
	flex-direction: column;
}

/* SingleHyphenSnapable*/
.font-size\:lg {
	font-size: 24px;
}

/* SingleHyphenSnapable*/
.font-weight\:xl {
	font-weight: 800;
}

/* SingleHypen*/
.text-align\:center {
	text-align: center;
}

/* SingleHypen*/
.flex-direction\:row {
	flex-direction: row;
}

 /* SingleHyphenSnapableMedia*/
@media (min-width: 1536px) {
.extralarge\?font-size\:xl {
	font-size: 48px;
	}
}

