/* NoHypen*/
.color\:white {
	color: white;
}

/* NoHypen*/
.display\:flex {
	display: flex;
}

/* SingleHypenThenColon*/
.flex-direction\:column {
	flex-direction: column;
}

/* SingleHypenThenColon*/
.flex-direction\:row {
	flex-direction: row;
}

/* NoHypen*/
.display\:none {
	display: none;
}

/* NoHypen*/
.position\:sticky {
	position: sticky;
}

/* NoHyphenPixeValues*/
.top\:0px {
	top: 0px;
}

/* NoHyphenPixeValues*/
.height\:200px {
	height: 200px;
}

/* SingleHyphenSnapable*/
.font-size\:lg {
	font-size: 24px;
}

/* SingleHyphenSnapable*/
.line-height\:xl {
	line-height: 40px;
}

/* DoubleHyphenTheColon*/
.list-style-type\:none {
	list-style-type: none;
}

/* SingleHypenThenColon*/
.text-decoration\:none {
	text-decoration: none;
}

/* SingleHyphenHashValue*/
.background-color\:\#010101\:hover:hover {
	background-color: #010101;
}

/* NoHypen*/
.cursor\:pointer\:hover:hover {
	cursor: pointer;
}

/* SingleHyphenSnapable*/
.margin-left\:lg {
	margin-left: 20px;
}

/* SingleHyphenSnapable*/
.margin-right\:sm {
	margin-right: 4px;
}

/* SingleHyphenSnapable*/
.margin-bottom\:xl {
	margin-bottom: 50px;
}

/* SingleHyphenSnapable*/
.font-size\:xl {
	font-size: 48px;
}

/* SingleHyphenSnapable*/
.font-weight\:2xl {
	font-weight: 900;
}

/* SingleHypenThenColon*/
.background-color\:black {
	background-color: black;
}

/* SingleHypenThenColon*/
.text-align\:center {
	text-align: center;
}

/* NoHyphenSnapable*/
.margin\:xl {
	margin: 50px;
}

/* NoHyphenPixeValues*/
.height\:300px {
	height: 300px;
}

 /* NoHypenMedia*/
@media (min-width: 1024px) {
.medium\?display\:flex {
	display: flex;
	}
}

/* NoHypenMedia*/
@media (min-width: 1024px) {
.medium\?display\:block {
	display: block;
	}
}

/* SingleHypenMedia*/
@media (min-width: 1024px) {
.medium\?flex-basis\:20\% {
	flex-basis: 20%;
	}
}

/* SingleHypenMedia*/
@media (min-width: 1024px) {
.medium\?flex-basis\:80\% {
	flex-basis: 80%;
	}
}

/* SingleHyphenSnapableMedia*/
@media (min-width: 1024px) {
.medium\?margin-right\:lg {
	margin-right: 20px;
	}
}

/* SingleHyphenSnapableMedia*/
@media (min-width: 1536px) {
.extralarge\?font-size\:2xl {
	font-size: 92px;
	}
}



















/* SingleHyphenSnapable*/
.line-height\:xs {
	line-height: 2px;
}



























 

























































 

























































 





























/* SingleHyphenSnapable*/
.line-height\:lg {
	line-height: 20px;
}



























 

























































 

























































 





























/* SingleHyphenSnapable*/
.line-height\:md {
	line-height: 8px;
}



























 

























































 

























































 

























































 

























































 

























































 











