---
import MySiteLayout from '../layouts/Layout.astro';
import '../../mimic.css';
import DesignSystemMD from './designSystems.md'
---

<MySiteLayout title="MimicCSS">
  <div class="color:white">
    <div class="font-size:lg extralarge?font-size:xl font-weight:sm color:white text-align:center">Mimic CSS</div>
    <DesignSystemMD/>
  </div>
</MySiteLayout>