---
import MySiteLayout from '../layouts/Layout.astro';
import {Content as DesignSystem } from './DesignSystem.md';
import {Content as PseudoClasses } from './PseudoClasses.md';

import '../../mimic.css';
---

<MySiteLayout title="MimicCSS">
  <div class="color:white display:flex flex-direction:column">

      <div class="font-size:lg extralarge?font-size:xl font-weight:xl color:white text-align:center">Mimic CSS</div>
     
      <div class="width:100% display:flex flex-direction:row">
        
        <div class="display:flex flex-direction:column flex-basis:20%">
          <div>
            <ul>
              <li class="background-color:pink:hover">
                Design System
              </li>
              <li>
                PseudoClasses
              </li>
            </ul>
          </div>
          
        </div>

        <div class="flex-basis:80% margin-left:sm margin-right:lg">

          <div>
            <div>
              <DesignSystem/>
              <hr class="margin:xl">
              <PseudoClasses/>
            </div>
          </div>

        </div>

      </div>

  </div>
</MySiteLayout>