---
import MySiteLayout from '../layouts/Layout.astro';
import '../../mimic.css';
import Instructions from './instructions.md';
---

<MySiteLayout title="MimicCSS">
  <div class="color:white">
      <div class="font-size:lg extralarge?font-size:xl font-weight:800 color:white text-align:center">Mimic CSS</div>
      <Instructions/>
  </div>
</MySiteLayout>