---
import MySiteLayout from '../layouts/Layout.astro';
import {Content as DesignSystem } from './DesignSystem.md';
import {Content as PseudoClasses } from './PseudoClasses.md';
import {Content as Install } from './Install.md';
import {Content as Usage } from './Usage.md';
import {Content as DesignSystemMappings } from './DesignSystemMappings.md';
import {Content as ExampleSnapping } from './ExampleSnapping.md';
import {Content as Overview } from './Overview.md';
import {Content as MediaBreakPoints} from './MediaBreakPoints.md'
import {Content as Configuration} from './Configuration.md'
import {Content as LitIntegration} from './LitIntegration.md'
import {Content as CustomClasses} from './CustomClasses.md'
import {Content as OverridingDefaults} from './OverridingDefaults.md'
import {Content as ColorPalette} from './ColorPalette.md'

import { ScrollToTop } from  '../components/index.ts';

import '../../mimic.css';
---

<MySiteLayout title="MimicCSS">

  <div class="color:white display:flex flex-direction:column">

      
      <div class="width:100% medium?display:flex flex-direction:row">
        
        <div class=" display:none medium?display:block display:flex flex-direction:column medium?flex-basis:20% position:sticky top:0px height:200px">
          <div class="font-size:lg line-height:md" >
            <ul class="list-style-type:none">
              <li onclick="Scroll('Overview')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Overview 
              </li>
              <li onclick="Scroll('DesignSystem')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Design System
              </li>
              <li  onclick="Scroll('PseudoClasses')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Pseudo Classes
              </li>
              <li  onclick="Scroll('CustomClasses')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Custom Classes
              </li>
              <li  onclick="Scroll('Install')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Install
              </li>
              <li  onclick="Scroll('Usage')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Usage
              </li>
              <li onclick="Scroll('DesignSystemMappings')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Design System Mappings
              </li>
              <li onclick="Scroll('ExampleSnapping')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Example Snapping
              </li>
              <li onclick="Scroll('MediaBreakPoints')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Media Break Points
              </li>
              <li onclick="Scroll('Configuration')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Configuration
              </li>
              <li onclick="Scroll('ColorPalette')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Color Palette
              </li>
              <li onclick="Scroll('OverridingDefaults')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Overriding Defaults
              </li>
              <li onclick="Scroll('LitIntegration')" class="text-decoration:none background-color:#010101:hover cursor:pointer:hover">
                Lit Integration
              </li>
            </ul>
          </div>
          
        </div>

        <div class="medium?flex-basis:80% margin-left:lg margin-right:sm medium?margin-right:lg">

          <div class="position:sticky top:0px margin-bottom:xl font-size:xl extralarge?font-size:2xl font-weight:2xl background-color:black color:white text-align:center">Mimic CSS</div>

          <div>
            <div>
              <Overview/>
              <DesignSystem/>
              <hr class="margin:xl">
              <PseudoClasses/>
              <hr class="margin:xl">
              <CustomClasses/>
              <hr class="margin:xl">
              <Install/>
              <hr class="margin:xl">
              <Usage/>
              <hr class="margin:xl">
              <DesignSystemMappings/>
              <hr class="margin:xl">
              <ExampleSnapping/>
              <hr class="margin:xl">
              <MediaBreakPoints/>
              <hr class="margin:xl">
              <Configuration/>
              <hr class="margin:xl">
              <ColorPalette/>
              <hr class="margin:xl">
              <OverridingDefaults/>
              <hr class="margin:xl">
              <LitIntegration/>
              <div class="height:300px"></div>
            </div>
            <ScrollToTop client:load/>
          </div>

        </div>

      </div>


  </div>
</MySiteLayout>


<script is:inline>
    function Scroll(location) {
    switch (location) {
      case 'Overview':
      window.scrollTo({ top: 0, behavior: "smooth" });
      break;
      case 'DesignSystem':
      window.scrollTo({ top: 400, behavior: "smooth" });
      break;
      case 'PseudoClasses':
      window.scrollTo({ top: 750, behavior: "smooth" });
      break;
      case 'Install':
      window.scrollTo({ top: 1050, behavior: "smooth" });
      break;
      case 'Usage':
      window.scrollTo({ top: 1200, behavior: "smooth" });
      break;
      case 'DesignSystemMappings':
      window.scrollTo({ top: 1800, behavior: "smooth" });
      break;
      case 'ExampleSnapping':
      window.scrollTo({ top: 2300, behavior: "smooth" });
      break;
      case 'MediaBreakPoints':
      window.scrollTo({ top: 2700, behavior: "smooth" });
      break;
      case 'ColorPalette':
      window.scrollTo({ top: 3000, behavior: "smooth" });
      break;
      case 'Configuration':
      window.scrollTo({ top: 3200, behavior: "smooth" });
      break;
      case 'LitIntegration':
      window.scrollTo({ top: 3400, behavior: "smooth" });
      break;
    }

  }
  // Will be rendered into the HTML exactly as written!
  // Local imports are not resolved and will not work.
  // If in a component, repeats each time the component is used.
</script>

