---
import MySiteLayout from '../layouts/Layout.astro';
import '../../mimic.css';
import Instructions from '../content/instructions.md';
---

<MySiteLayout title="MimicCSS">
  <div class="color:white">
      <div class="font-size:xl font-weight:800 color:white">Mimic CSS</div>
      <Instructions/>
  </div>
</MySiteLayout>